*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google font style */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.btn-primary{
    font-size: 1.25rem;
    font-weight: 500;
    background-color: #FF5959;
    color: #FFFFFF;
    padding: 16px 20px;
    border-radius: 8px;
    border: none;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 600;
    color: #121212;
}
.section-title-description{
    font-size: 1.125rem;
    color: #707070;
}
.text-center{
    text-align: center;
}
section{
    margin-top: 130px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* header style */
.header{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FAFAFA;
    background-image: url(images/Group57919.png);
    background-repeat: no-repeat;
    background-position:right bottom;

}

/* banner style */
.banner-content{
    display: flex;
    padding-top: 5%;
    padding-left:  10%;
    align-items: center;
}
.banner{
    align-items: center;
    max-width: 524px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 600;
    color: #121212;
}
.banner-title-description{
    font-size: 1.125rem;
    color: #707070;
    margin: 20px 0 30px 0;
}
.watch-video{
    background-color: transparent;
    border: none;
    color: #707070;
    font-size: 1.125rem;
    font-weight: 500;
    margin-left: 30px;
}
.banner-image {
    margin: 0 auto;
   
    
}
.banner-image img{
    width: 100%;
}

/* donate today section style */
#donate-description{
    margin: 2% 0 4% 0;

}
.donate-container{
    
    
    display: flex;
    justify-content: center;
    
    
    text-align: center;
}
.donate{
    max-width: 765px;
}

.fix-amount{
    display: flex;
    justify-content: center;
    gap: 5%;

}
.amount{
    padding: 45px 30px;
    color: #707070;
    font-weight: 600;
    font-size: 1.875rem;
    background-color: #FAFAFA;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent;
}
.amount:hover{
    color: #FF5959;
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
}

.other-amount input{
    text-align: center;
    width: 100%;
    border: none;
    color: #B3B3B3;
    padding: 10px;
    margin-top:5%;
    
}
.other-amount input:focus{
    outline: none;
    color: #121212;
}

.other-amount hr{
    border: 1px solid #DADADA;
    margin-bottom: 30px;
}


/* donate plan style */

.donate-plan-card-content{
    display: flex;
    gap: 25px;
    margin-top: 5%;
}
.donate-plan-card-01{
    background-color: rgba(79, 157, 166, 0.1);
    max-width: 367px;
    padding: 50px 25px;
    border-radius: 5px;
}
.donate-plan-card-02{
    background-color: rgba(255, 89, 89, 0.1);
    max-width: 367px;
    padding: 50px 25px;
    border-radius: 5px;
}
.donate-plan-card-03{
    background-color: rgb(255, 244, 214);
    max-width: 367px;
    padding: 50px 25px;
    border-radius: 5px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #121212;
    margin: 30px 0 15px 0;
}
.card-title-description{
    color: #707070;
}

/* small device media query */
@media screen and (max-width: 576px) {
    .header{
        background-image: none;
    }
    .banner-content
    {
        flex-direction: column-reverse;
    }
    .donate-container{
        margin: 130px 2% 0 2%;
    }
    .fix-amount
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 1%;
    }
    .other-amount{
        margin-top: 50px;
    }
    .donate-plan-card-content{
        flex-direction: column;
        margin: 2%;
        justify-items: center;
        align-items: center;
    }
     .donate-plan-card-01, .donate-plan-card-02, .donate-plan-card-03{
        text-align: center;

     }

    

    
}
/* medium device media query */
@media screen and (min-width:576px) and (max-width:992px) {
    .header{
        background-image: none;
    }
    .banner-content{
        padding: 1%;
        margin: 1%;
    }
    .fix-amount{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 1%;
    }
    .donate-plan-card-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 5%;
        align-items: center;
        justify-content: center;
    }
    
}